Source: erlang-otp
Section: misc
Priority: extra
Maintainer: Karolis Petrauskas <k.petrauskas@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 autotools-dev (>= 20100122),
 libncurses5-dev (>= 5.7+20100313),
 xsltproc (>= 1.1.26),
 unixodbc-dev (>= 2.2),
 libssl-dev (>= 0.9.8o),
 libwxgtk2.8-dev (>= 2.8.10.1),
 libgl1-mesa-dev (>= 7.7.1),
 libglu1-mesa-dev (>= 7.7.1)
Standards-Version: 3.9.1
Homepage: http://www.erlang.org

Package: erlang-otp-r15-full
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libncurses5 (>= 5.7+20100313),
 unixodbc (>= 2.2),
 openssl (>= 0.9.8o),
 libwxgtk2.8-0 (>= 2.8.10.1),
 libgl1-mesa-glx (>= 7.7.1),
 libglu1-mesa (>= 7.7.1)
Description: Erlang/OTP full installation.
 full erlang installation, includes all the components, originally
 provided by the Erlang/OTP. This package was created because the
 original Ubuntu package was outdated and had excluded some
 components (like wx*). The Erlang/OTP will be installed in
 /opt/erlang-otp-r15.
